@import '../../../styles/index.scss';

.AccountDetail {
  .header {
    display: flex;
    align-items: center;
    @include mobile {
      flex-wrap: wrap;
      overflow-x: auto;
    }

    .name {
      @include fontStyle(medium, semi-bold);
      color: color(gray-700);
    }

    .value {
      @include fontStyle(small);
      @include singleLineEllipsis();
      display: flex;
      align-items: center;
      overflow-x: auto;
      gap: spacing(8);
      margin-left: spacing(8);

      @include mobile {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: spacing(0);
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: spacing(32);

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  .buttonWrapper {
    display: flex;

    .btn {
      @include fontStyle(small);
      margin-left: spacing(8);
    }
  }

  .paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: spacing(32) 0;
  }

  .link {
    color: color(info);
  }
}
