@import '../../../styles/index.scss';

.LatestCycle {
  border: border(gray);
  border-radius: borderRadius(8);
  margin-bottom: spacing(16);
  box-shadow: shadow(shadow1);
  background-color: color(white);

  .title {
    @include fontStyle(small, semi-bold);
    color: color(gray-800);
    margin: spacing(8) spacing(16);
  }

  .content {
    height: 500px;
    overflow-y: auto;
  }

  .item {
    display: grid;
    grid-template-columns: 20% 45% 35%;
    align-items: center;
    grid-row-gap: spacing(8);
    padding: spacing(8) spacing(16);
    
    // @include mobile {
    //   grid-template-columns: 1fr 1fr; // More flexible grid on mobile
    //   column-gap: spacing(8); // Add some space between columns
    // }

    .logo {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: color(bg);
      @include fontStyle(small, semi-bold);
    }

    span {
      @include fontStyle(small);
      @include singleLineEllipsis();
      // display: block; // Make span take full width
      // word-break: break-word; // Allow text to wrap
      // margin-right: spacing(4);
    }

    // Add styles for the AnchorLink content
    // div {
    //   word-break: break-word; // Allow long text to wrap
    //   min-width: 0; // Allow content to shrink below its minimum content size
    // }
  }

  .button {
    $size: spacing(16);
    width: calc(100% - $size - $size);
    margin: spacing(8) $size;
    padding: spacing(7) 0;
  }
}